# Виртуальные окружения
.venv/
venv/
__pycache__/
*.pyc

# Сборки и установочные файлы
dist/
build/
*.egg-info/

# Логи и кэш
*.log
logs/
ruff_cache/

# Системные файлы macOS
.idea/

# Данные проекта
data/

# Тесты
tests/

# Демонстрационные файлы
demo.cast
demo_script.sh